*{
  transition: all 0.5s linear;
}

.App {
  text-align: center;
  background: url('gray.jpg') fixed;
}

.App-logo {
  height: 8vmin;
  pointer-events: none;
    animation: App-logo-spin infinite 2s linear;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  align-items: center;
  color: white;
}

nav ul{
  display: flex;
  flex-direction: column;
  padding-left:0;
}

nav ul li{
  list-style-type: none;
  text-align: left;
  padding: 1vh 2vw;
}

nav ul li:hover{
  background-color: #ccc;
}

.navlink{
  text-decoration:none;
  color: white;
  transition: all ease-in 0.1s;
}

nav ul li:hover .navlink{
  color:#1e74e4;
}

.header_display{
  display: flex;
  align-items: center;
  margin-right: 2vw;
}

nav{
  position: absolute;
}

.nav{
  padding:0;
}

header{
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  z-index: 1000;
}

#Accueil{
  background: url('gray.jpg') fixed;
}

#Profil_Div, #Projets_Div, #PHP_DIV, #Stack_div{
  background: url('gray.jpg') fixed;
  min-height: 75vh;
}

#page_maquette{
  background: url('gray.jpg') fixed;
  padding: 3vh 0
}

#page_maquette .card-item{
  display: flex;
  flex-direction: column;
}

#Accueil_cards{
  padding-top:1vh;
  display: flex;
  flex-wrap: wrap;
  min-height: 75.1vh;
}

#launcher{
  margin-bottom: 2vh;
  margin-left: 2vw;
}

#profilpic{
  width: 30vw;
  height: 70vh;
  border-right: 1px solid #ccc;
  float:left;
  margin-right: 5vw;
  margin-top: 5vh;
  padding: 0 1vw;
}

.card_item{
  display: flex ;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 25vw;
  min-height: 18vw;
  transition: color 0.2s linear, background-color 0.2s ease-out;
}

#js_div{
  min-height: 75.1vh;
  display:flex;
  flex-direction: column;
}

.card_item:hover{
  background-color: rgb(72, 131, 131);
  color: #ffe9e9;
  cursor:pointer;
}

.card_item:hover *{
  color:#fff;
}

.card_item:hover .card_item_title, .card_item:hover .card_item_link{
  text-decoration: underline;
}

.card_item:hover .card_item_link{
  color: skyblue
}

.card_item_link{
  color:black;
  text-decoration: none;
}

.list-group{
  list-style-type: none;
  border: 1px solid transparent;
}

.card_item:hover .list-group{
  border-color: antiquewhite;
}

.list-group-items{
  padding: 1vh 1vw;
  cursor: pointer;
  margin: 1vh 0;
  border-radius: 5px;
}

.list-group-items a{
  text-decoration: none;
  color: black;
}

.list-group-items:hover a{
  color:green;
}

.list-group-items:hover{
  background-color: orange;
}

.card_item:hover .list-group .list-group_items a{
  color:#fff;
}

.footer{
  display: flex;
  justify-content: space-between;
  background-color: #282c34;
}

#copyright, #icone{
  margin: 2vh 2vw;
  color: whitesmoke;
}

#copyright::after{
  content: " Valentin Neff W@C 2024"
}

i{
  margin: 0 1vw;
}

#maquette_intro, #maquette_responsive{
  aspect-ratio: 16/9;
  margin: 3vh 3vw;
}

#maquette_intro{
  width: 65vw;
}

#maquette_responsive{
  width: 65vw;
}

.card-item{
  padding-top: 2vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  border: 1px #ccc solid;
  margin: 3vh 0;
  cursor: pointer;
}

.card-item h3{
  transition: all 0.2s linear;
  text-decoration: underline;
  text-decoration-color: transparent;
}

.card-item:hover h3{
  text-decoration-color: black;
}

#icone img{
  margin-left: 1vw;
  border-radius: 2%;
  width: 40px;
  border-radius: 5%;
  cursor:pointer;
}

.btn{
  margin-top: 2vh; 
}

.btn:hover{
  border: 1px solid black !important;
}

#puissance4, #previewbtlship{
  margin: 2vh auto;
}

#preview_p4, #previewbtlship{
  width: 30vw;
}

#preview_p4{
  margin-left:0;
}

.project{
  border: 1px #ccc solid;
  padding: 2vh 0;
  border-radius: 20px;
  margin: 3vh 0;
}

.project_legend{
  margin-top: 3vh;
  font-style: italic;
  font-size: 18px;
}

#headtitle{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  text-decoration: underline;
  color: darkolivegreen;
  animation: title-colours infinite 1s linear;
  width: 35%;
  margin: 1vh auto;
  letter-spacing: 2px;
}

h1{
  padding: 2vh 0;
}

#puissance4, #battleship{
  transition: all 0.3s;
}

.project:hover{
  color: white;
  background-color: #282c34;
}

#puissance4:hover button{
  color: yellow;
  border-color: yellow;
}

#puissance4 button:hover{
  border:1px solid transparent !important;
}

#preview_p4{
  margin: 1vh auto;
}

.project_title{
  margin-bottom: 2vh;
}

.project:hover .project_title{
  text-decoration: underline;
}


#Projets_Div{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.categorie{
  width: 30vw;
  min-height: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  border: 1px solid transparent;
  margin: 3vh 3vw;
  border-radius: 20px;
  transition: all 0.7s ease-out;
}

.categorie:hover{
  border-color: black;
  color: white;
  text-shadow: 1px 1px black;
  flex-grow: 1.5;
  box-shadow: 1px 1px 1px #ccc;
}

.categorie.js:hover{
  background: linear-gradient(0deg, rgba(0,4,1,1) 0%, rgba(253,187,45,1) 100%);
}

.categorie.php:hover{
  background: linear-gradient(0deg, rgba(0,4,1,1) 18%, rgba(50,164,235,1) 100%);
}

.categorie.maquette:hover{
  background: linear-gradient(0deg, rgba(48,19,255,1) 3%, rgba(255,61,0,1) 100%);
}

.categorie.stack:hover{
  background: linear-gradient(0deg, rgba(19,240,255,1) 3%, rgba(102,199,0,1) 100%);
}

#Error_page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75vh;
}

.preview{
  width: 35vw;
  display: flex;
  flex-direction: column;
  margin-left: 5vw;
}

#separate_image{
  display: flex;
  justify-content: space-around;
}

.preview_picture{
  width: 15vw;
  margin: 3vh 0;
}

#preview_sprite, .preview_projets_php{
  width: 35vw;
  margin: 3vh 0;
}

.preview_projets_php{
  border-radius: 10px;
}

.preview_picture, #preview_sprite{
  border: #ccc 1px solid;
  border-radius: 5px;
}

.card_item_php{
  display:flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  margin: 2vh 0;
}

.card_item_php:hover{
  border-color: #282c34;
  border-radius: 10px;
}

.card_item_php h2{
  text-decoration: underline;
  text-decoration-color: transparent;
  text-decoration-thickness: 2px;
}

.card_item_php:hover h2{
  text-decoration-color: #1e74e4;
}

.description{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width:40vw;
  margin-left: 5vw;
  padding: 2vh 2vw;
}

.description_title{
  color: #1e74e4;
}

.description_text{
  text-align: left;
  font-size: large;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#profil_picture{
  padding: 3vh 0;
  max-height: 70vh;
  width: 35vw;
  position: sticky;
  top: 20vh;
}

#profil_content{
  padding-left: 3vw;
  width: 60vw;
  border-left: 3px solid #ccc;
}

#profil_title{
  color: #777676;
  text-decoration: underline;
}

#profil_desc{
  text-align: left;
  font-size: large;
}

#profil_desc a{
  text-decoration: none;
}

#infos_utiles{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 5vh 0;
}

#hobbie_title, #contact_title{
  text-decoration: underline;
  color: #282c34;
}

.info{
  text-align: left;
  font-size: large;
  margin: 1vh 0;
}

.input{
  margin-bottom: 2vh;
  resize: none !important;
}

.notions{
  text-decoration: underline;
  font-size: larger;
}

.list-group .skills{
  margin: 0 auto;
}

.list-group li:first{
  margin-top: 1vh;
}

.skills{
  border-radius: 5px;
  margin: 5px 0;
  cursor: pointer;
  width: 70%;
  transition: color 0.1s linear, background 0.3s ease-in;
}

.skills:hover{
  background: #51d369;
  color: #fff;
}

.projet_mern{
  border-radius: 10px;
  margin: 3vh 0;
  max-width: 30vw;
}

.list_header{
  text-decoration: underline;
}

.accueil_skills{
  margin: 3px 0;
}

#hobbies{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.gif_hobby{
  width: 20vw;
  aspect-ratio: 1/1;
  margin: 2vh 0;
  border-radius: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes title-colours {
  0% {
    color:#28a745;
  }
  33% {
    color:#ff8f07;
  }
  50%{
    color:#ffc107;
  }
  66% {
    color:#dc3545;
  }
  100% {
    color:#28a745;
  }
}

@media screen and (max-width:1200px) {
  #profilpic{
    width:70vw;
    aspect-ratio: 1/1;
    margin: 1vh auto;
    border-right-color: transparent;
  }

  #Accueil{
    display: flex;
    flex-direction: column;
  }

  .card_item{
    width: 35vw;
    margin: 1vh 7.5vw;
    min-height: 30vh;
  }
    
  #Profil_page{
    flex-direction: column;
    align-items: center;
  }

  #profil_content{
    border-left-color:transparent;
    width:90vw;
  }

  .footer{
    position: sticky;
    bottom: 0;
  }

  #profil_picture{
    width: 60vw;
  }

  .gif_hobby{
    width: 30vw;
  }
}

@media screen and (max-width:992px) {
 #Projets_Div{
    flex-direction: column;
    align-items: center;
 }
 .categorie:hover{
    flex-grow: 0.2;
 }
}

@media screen and (max-width:768px){
  .header_display{
    display: none;
  }

  #Accueil{
    display: flex;
    flex-direction: column;
  }

  #profilpic{
    width:80vw;
    aspect-ratio: 1/1;
    margin: 1vh auto;
    border-right-color: transparent;
  }

  nav ul {
    display:none;
    background: transparent;
    width: 100vw;
  }

  header{
    display: flex;
    flex-direction: column-reverse;
  }
  .App-header:hover nav ul{
    display: flex;
  }

  .card_item{
    width: 40vw;
    margin: 1vh 5vw;
    min-height: 30vh;
  }
}

@media screen and (max-width:576px){
  header{
    display: flex;
    flex-direction: column-reverse;
  }

  nav ul {
    display:none;
    background: transparent;
    width: 100vw;
  }

  #Accueil{
    display: flex;
    flex-direction: column-reverse;
  }

  #profilpic{
    width:100vw;
    aspect-ratio: 1/1;
    margin: 1vh auto;
  }

  .card_item{
    width: 100vw;
    margin: 1vh auto;
    border-radius: 0;
    border-color: transparent;
    border-top-color: black;
    border-bottom-color: black;
  }

  #Profil_page{
    flex-direction: column;
    align-items: center;
  }

  #profil_content{
    border-left-color:transparent;
    width:90vw;
  }

  .footer{
    position: sticky;
    bottom: 0;
  }

  #profil_picture{
    width: 60vw;
  }

  .gif_hobby{
    width: 30vw;
  }
}

@media screen and (min-width:1200px) and (max-width:1400px){
  #profilpic{
    width:50vw;
    position: sticky;
    top: 20vh;
  }

  #Accueil_cards{
    justify-content: center!important;
  }
}