@font-face {
    font-family: 'Oswald';
    src: url(assets/misc/Oswald-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Droid sans';
    src: url(assets/misc/DroidSans.ttf);
}

@font-face {
    font-family: 'Droid Serif';
    src: url(assets/misc/droid-serif.regular.ttf);
}

body{
    display : flex;
    flex-direction: column;
    justify-content : center;
    color : #7D7D90;
    background : url(assets/misc/transparent.png);
    font-family : 'Droid sans';
}

a{
    color: #7D7D90;
    text-decoration: none;
    transition: all 0.2s 0.2s ease-out;
    padding : 5px;
}

.grille{
    background : url(assets/misc/grille.png);
}

#activites{
    display : inline-flex;
    justify-content: center;
}

header{
    justify-content: space-around;
}

header, nav{
    display : inline-flex;
    align-items: center;
}

header ul li h3, header ul li{
    list-style-type : none;
    padding : 3px 0;
}

nav{
    justify-content: flex-end;
}

.title{
    font-family : 'Oswald';
}

li{
    width : calc(100% + 20px);
    padding : 0 30px;
    font-size : 12px;
}

article{
    border-top : solid 1px #F0F0F0;
    border-bottom: solid 1px #F0F0F0;
    margin : 10px 0;
}

#activites section{
    margin : 30px;
}

#video{
    display : flex;
    justify-content : center;
    padding : 30px 0;
}

#speech{
    font-style: italic;
    padding : 40px 0;
    text-align : center;
    color : #7D7D90;
    font-size: 1.2em;
    font-family: 'Droid Serif';
}

#activités{
    justify-content : center;
}

#contact{
    display : flex;
    flex-direction : row;
    justify-content: center;
}

#golf,#accrofood{
    padding : 0px 20px;
}

#golf{
    border : 1px solid #CCC;
    width : 15%;
}

#accrofood{
    display : flex; 
    flex-direction : column;
    width : 15%;
}

#comment{
    width : 30%;
}

#comment img{
    padding : 5px;
    border : 1px solid #8c8ca3;
    box-shadow: 1px 1px 1px #8c8ca3;
}

#illuscomment img{
    height: 100px;
    width: 150px
}

.subtitles{
    color : #ED9627;
    font-family : 'Droid Sans';
    font-size : 20px;
}

p{
    color: #7D7D90;
    font-size: 14px;
}

h4{
    color: #A1A1A1;
    font-family: 'Droid sans';
}

h5{
    font-style : italic;
}

.info{
    display: flex;
    flex-direction: row;
}

.mini{
    height : 50px;
}

.colonne{
    width : 12%;
    padding : 4%;
}

footer{
    color : #7D7D90;
    display: flex;
    justify-content: space-around;
}

.icone{
    height : 30px;
    width : 30px;
}

#social{
    height : 100px;
    justify-content : flex-end;
}

.publi{
    font-style : italic;
    color: #A1A1A1;
    font-size: 14px;
}

.mail{
    text-decoration: underline;
}

.bold{
    font-weight: bold;
    font-size: 16px;
}

#copyright p{
    font-size: 12px;
}

#comment, #accro, #food, #golf{
    transition : all 0.1s 0.1s ease-out;
}

#comment:hover, #accro:hover, #food:hover, #golf:hover{
    box-shadow : 2px 2px 2px black;
}