$bg : #000;
$text: #f6f6f6;
$g1 : #696969;
$blue: #00BFFF;

//?font-family: "Playwrite NG Modern", cursive;
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&display=swap');
//?font-family: "Ubuntu", sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
//?font-family: "Roboto", sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

ul {
    list-style-type: none;
}

body {
    background-color: $bg;
    color: $text;
    font-family: "Ubuntu", sans-serif;
    overflow-x: hidden;
}

//Encart logo

#logo {
    width: 4rem;
    position: fixed;
    top: 1rem;
    left: 1rem;
    cursor: pointer;
    z-index: 1;
    opacity: 0.3;
    transition: opacity .4s ease;
}

#logo img {
    width: 100%;
}

#logo:hover {
    opacity: 1;
}

@media screen and (min-width: 1200px) {
    #logo {
        width: 5rem;
        opacity: .8;
    }
}

// Menu

nav {
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: $bg;
    display: flex;
    flex-direction: column;
    transition: all .3s linear;
    top: 0;
    z-index: 10;
}

nav>a {
    display: flex;
    align-items: center;
}

#logo_menu {
    margin: 1rem auto;
    width: 50%;
}

nav ul {
    padding: 1rem;
    width: 50%;
    margin-left: 25%;
}

nav li {
    margin: 1rem auto;
}

.nav-link {
    text-decoration: none;
    align-items: center;
    color: white;
    font-family: "Ubuntu", "Playwrite NG Modern", sans-serif;
    font-weight: 300;
    opacity: .7;
}

.nav-link:hover {
    opacity: 1;
}

#toggle {
    position: fixed;
    top: 1.5rem;
    right: 1rem;
    z-index: 11;
    cursor: pointer;
    opacity: .7;
}

body.dark #toggle svg {
    color: $bg !important;
}

#toggle:hover {
    opacity: 1;
}

nav.hidden {
    opacity: 0;
    right: -100%;
}

nav.shown {
    opacity: 1;
    right: 0;
}

section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width:720px) {
    nav {
        flex-direction: row;
        align-items: center;
        justify-content: start;
    }

    #logo_menu {
        width: 100%;
    }

    nav ul {
        margin-left: 0;
    }
}

@media screen and (min-width:1200px) {

    nav {
        display: flex;
        justify-content: center;
    }

    nav ul {
        width: 20%;
        font-size: 1.5rem;
    }
}

// Header
#header {
    gap: 2rem;
    background: linear-gradient(135deg, $bg, $g1);
}

#header p {
    font-size: 1.5rem;
}

h1 {
    font-family: 'Roboto', 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 2.5rem;
}

#header_text {
    width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#header_text a {
    width: 60%;
    margin: 2rem auto;
}

#header_text p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 200;
}

#main_image {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 4rem;
}

#main_image img {
    width: 25%;
    animation-name: rotate;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    filter: grayscale(35%);
}

#header a,
#about a {
    background-color: transparent;
    border: 2px solid #f6f6f6;
    padding: 1rem 1.5rem;
    text-transform: uppercase;
    font-weight: 800;
    color: #f6f6f6;
    text-decoration: none;
    transition: background-color .2s ease-in;
    margin-top: 3rem;
}

#header a:hover {
    background-color: #f6f6f6;
    color: #1d1d1d;
}


@media screen and (min-width:720px) {
    #header {
        flex-direction: row;
    }

    #header>div {
        width: 40%;
    }

    #header_text {
        justify-content: center;
    }

    #main_image {
        margin: 0;
    }

    #main_image img {
        width: 50%;
    }
}

// About
#about {
    background-color: $bg;
    color: #f6f6f6;
    justify-content: start;
    padding: 8rem 0;
}

#about>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

h2 {
    text-transform: uppercase;
    font-weight: 400;
}

#about p {
    text-align: left;
    line-height: 1.8rem;
    width: 90%;
}

#about__link_holder {
    display: flex;
    flex-direction: column;
}

#about p span {
    font-weight: 800;
}

#about a {
    text-align: center;
    margin-top: 2rem;
}

#about a:hover {
    background-color: #f6f6f6;
    color: $bg;
}

@media screen and (min-width:1200px) {
    #about__link_holder {
        display: flex;
        width: 80%;
        flex-direction: row;
        justify-content: space-around;
    }
}

// Technos

#technos {
    background: linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)), url('./assets/dev_wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: start;
    padding: 5rem 0;
}

#techno_carroussel {
    display: none;
}

#techno_carroussel_holder {
    width: 70%;
}

@media screen and (min-width:1200px) {
    #techno_carroussel {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    #techno_carroussel_holder {
        width: 100%;
    }
}

#techno_details {
    margin-top: 5%;
    width: 25%;
}

// Carroussel

.banner {
    width: 100%;
    height: auto;
    text-align: center;
    overflow: visible;
    position: relative;
    top: 150%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner .slider {
    position: relative;
    width: 120px;
    aspect-ratio: 1/1;
    bottom: 5%;
    left: calc(50% - 75px);
    transform-style: preserve-3d;
    transform: perspective(1000px) rotateX(-20deg) rotateY(calc(360*(var(--rotation)/var(--quantity)) * 1deg));
    transition: all .4s ease-in-out;
}

.banner .slider .item {
    position: absolute;
    inset: 0 0 0 0;
    transform:
        rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(350px);
    overflow: hidden;
    border-radius: 25%;
    cursor: pointer;
}

.banner .slider .item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: #fff;
    padding: 1rem;
}

#carroussel_controllers {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 100%;
    width: 90%;
    margin-left: 5%;
}

#carroussel_controllers svg {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
    transition: color .2s ease-in;
}

#carroussel_controllers svg:hover {
    color: #fff;
}

// Toggle techno

#techno_dropdown {
    width: 100%;
    margin-top: 3rem;
}

.mobileToggleTechno__tab {
    border-bottom: 2px solid rgba(255, 255, 255, 0.7);
    padding: 1rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.mobileToggleTechno__tab__title {
    display: flex;
    justify-content: space-between;
}

.mobileToggleTechno__tab__content {
    height: 0;
    overflow: hidden;
    transition: height .2s linear;
}

.mobileToggleTechno__tab.open .mobileToggleTechno__tab__title {
    color: $blue;
}

.mobileToggleTechno__tab.open .mobileToggleTechno__tab__content {
    height: fit-content;
}

.mobileToggleTechno__tab__content p {
    margin: 1rem;
    text-underline-offset: .3rem;
}

.techno_list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem 0;
    background-color: #fff;
    padding: 1rem;
}

.techno_list li {
    width: fit-content;
    text-align: center;
    display: flex;
    align-items: center;
    width: 25%;
}

.techno_list li img{
    width: 100%;
    object-fit: contain;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#technos>img {
    display: none;
}

@media screen and (min-width: 720px) {
    #technos>img {
        display: block;
        margin: 2rem 0 0 0;
    }
}


@media screen and (min-width: 1200px) {
    #technos>img {
        display: none;
    }
}

// Projects

#projects {
    justify-content: start;
    padding: 6rem 0;
    background: url('./assets/light.jpg');
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#projects * {
    color: $bg;
    opacity: 0;
    transform: translateY(1rem);
    transition: all 1s ease;
}

body.dark #projects * {
    opacity: 1;
    transform: translateY(0);
}

.project_card {
    cursor: pointer;
}

.project_card__img {
    width: 80%;
    margin: 2rem 10%;
    border-radius: 1rem;
}

.project_card__title {
    display: none;
}

@media screen and (min-width: 720px) {
    #project_holder .project_card__img {
        width: 45%;
    }

    #project_holder .project_card {
        justify-content: space-around;
        align-items: center;
        display: flex;
    }

    #projects .project_card__title {
        display: block;
        font-size: 1.2rem;
        position: absolute;
        opacity: 0;
        height: 92%;
        width: 45%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        border-radius: 1rem;
    }

    #projects .project_card__title span {
        color: transparent;
    }

    #projects .project_card:hover .project_card__title {
        background-color: rgba(0, 0, 0, 0.7);
    }


    #projects .project_card:hover .project_card__title span {
        color: #f6f6f6;
    }
}

@media screen and (min-width: 1200px) {
    #project_holder {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #project_holder .project_card:first-of-type {
        width: 60%;
        height: fit-content;
        margin: 1rem 5%;
    }

    #project_holder .project_card:nth-of-type(2) {
        width: 40%;
    }

    #project_holder .project_card:nth-of-type(3) {
        width: 40%;
    }

    #project_holder .project_card__img {
        width: 100%;
    }


    #projects .project_card__title {
        position: absolute;
        opacity: 0;
        height: 90%;
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        border-radius: 1rem;
    }
}

//project details

#project_details {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    z-index: 100;
    animation-name: fadeIn;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

#project_details svg {
    position: fixed;
    top: 1.8rem;
    right: 1.2rem;
    cursor: pointer;
}

#project_details h3 {
    font-weight: 400;
    text-transform: uppercase;
    margin-left: 1rem;
}

#project_details * {
    color: #f6f6f6
}

#project_details img {
    width: 100%;
    max-height: 500px;
    object-fit: contain;
}

#project_details_description {
    width: 100%;
}

#project_details_body>p {
    margin-left: 1rem;
    text-decoration: underline;
    text-underline-offset: .3rem;
    text-decoration-thickness: .1rem;
}

#project_details ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 0;
    background-color: #f6f6f6;
    padding: 1rem 0;
}

#project_details ul li {
    width: calc(80% / (var(--technoQuantities)));
    max-width: 30%;
}

#project_details_technologies li img {
    object-fit: contain;
    max-width: 120px;
}

#project_details_title {
    width: fit-content;
}

@media screen and (min-width:1200px) {
    #project_details {
        display: grid;
        grid-template-areas: "title title" "image technos";
        width: 100%;
    }

    #project_details h3 {
        grid-area: title;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
    }

    #project_details_img {
        grid-area: image;
    }

    #project_details_body {
        grid-area: technos;
        max-height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #project_details_body #project_details_technologies {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        background-color: rgba(255, 255, 255, 0);
    }

    #project_details_body #project_details_technologies li {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f6f6f6;
        aspect-ratio: 1/1;
        border-radius: 1rem;
    }
}

// contact

#contact {
    padding-top: 3rem;
    gap: 3rem;
    justify-content: space-around;
}

textarea {
    resize: vertical;
}

#socials {
    width: 50%;
    margin-left: 25%;
    gap: 1.5rem;
    display: grid;
    margin-top: 2rem;
}


#links h3 {
    text-align: center;
}

#socials li,
#socials a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

#socials a {
    color: white;
    text-decoration: none;
}

#contact form {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#contact #contact_finders {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#contact_finders input,
textarea {
    width: 100%;
    border-color: transparent;
    outline: 0;
    padding: .8rem .8rem .4rem .2rem;
    font-size: 1rem;
    background-color: #0c0c0c;
    color: #f6f6f6;
    border-bottom: 2px solid #f6f6f6;
    font-family: 'Ubuntu', 'Verdana', sans-serif;
}

#contact button {
    padding: .5rem 1rem;
    font-size: 1rem;
    width: 50%;
    margin: .5rem auto;
    background-color: #1d1d1f;
    color: white;
    border: 1px solid transparent;
    border-radius: 20px;
    cursor: pointer;
    transition: all .3s ease;
}

#contact button:hover {
    background-color: #252525;
}

#contact button:active {
    background-color: #252525;
    transform: scale(.95);
}

.disabled {
    opacity: .5;
    pointer-events: none;
}

@media screen and (min-width: 720px) {
    #contact #contact_finders {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #contact_finders .form-group {
        width: 50%;
    }

    #socials {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-left: 0;
        margin: 2rem auto;
    }

    #socials a,
    #socials li {
        width: fit-content;
    }
}

@media screen and (min-width: 1200px) {
    #contact form {
        width: 70%;
    }

    #contact_finders .form-group {
        width: 49%;
    }

    #contact_finders .form-group input,
    textarea {
        padding: 1rem;
    }
}

// Animation
@keyframes slideAndFade {
    0% {
        opacity: 0;
        transform: translateX(-20%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes rotate {
    0% {
        rotate: 0;
    }

    100% {
        rotate: 1turn;
    }
}

@keyframes autoRun {
    from {
        transform: perspective(1000px) rotateX(-16deg) rotateY(0deg)
    }

    to {
        transform: perspective(1000px) rotateX(-16deg) rotateY(360deg)
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(1rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}